github "ReactiveCocoa/ReactiveCocoa" "master" #~> 8.0
github "ReactiveCocoa/ReactiveSwift" ~> 5.0
github "antitypical/Result" ~> 4.1
github "realm/realm-cocoa" "master" #~> 3.0
github "utahiosmac/Marshal" ~> 1.2
github "Alamofire/AlamofireImage" ~> 3.3
